# Ativar reescrita
RewriteEngine On

# Redireciona /index.html para /
RewriteCond %{THE_REQUEST} /index\.html [NC]
RewriteRule ^index\.html$ / [R=301,L]

# Reescreve qualquer URL sem extensão para .html, se existir
RewriteCond %{REQUEST_FILENAME}.html -f
RewriteRule ^([^\.]+)$ $1.html [L]
